<div ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'tomorrow_night',
  mode: 'javascript',
  firstLineNumber: 1,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-class="{'bounceOutDown' : hideEditor, 'bounceInUp' : !hideEditor}"></div>

<div id="editorButtons">
    <button type="button" ng-click="toggleCodeRun()">{{isCodeRunning ? "Stop" : "Run"}}</button>
    <button type="button" ng-click="toggleEditorOpen()">{{hideEditor ? "Show" : "Hide"}}</button>
</div>

<div game-canvas
     code="code"
     is-running="isCodeRunning"></div>

